[Unit]
Description=Generate bosh agent network

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/photon-bosh-agent-network.sh
[Install]
WantedBy=multi-user.target
